<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系方式-卫康环境防治中心</title>
<meta name="description" content="卫康环境防治中心一直致力于为您提供完美的虫害解决方案，为您创造清洁的、符合标准的生产、生活环境。公司地址：杭州市下城区庆春路嘉德广场2002室，电话：0571—85028893。">
<meta name="keywords" content="杭州除虫,杭州控虫,杭州杀虫,杭州灭鼠,杭州白蚁防治,杭州灭蟑螂,杭州杀虫公司,杭州虫害防治">
<link href="css/base.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/lrscroll.js"></script>
</head>

<body>

<div class="top">
<div class="container">
    <p>ISO9001:2000/ISO14001:2004认证企业</p>
</div><!--container-->
</div><!--top-->

<div class="container">
    <div class="clearfix header">
        <a href="#" class="logo"><img src="images/logo.jpg" alt="卫康环境防治中心" border="0"></a>
        <p class="phone">  <span style="font-size:18px; line-height:50px; font-family:'微软雅黑'; color:#7E3417;font-weight:bold">王先生： 18914990900&nbsp;&nbsp;袁先生： 15262635626&nbsp;&nbsp;高先生： 18914967698</span><a href="#"><img src="images/phone.jpg" alt="联系我们" border="0" usemap="#Map" style="float:right"></a>
      <map name="Map" id="Map"><area shape="rect" coords="57,13,110,26" href="http://www.ansunpco.com/en/"></map></p>
  </div><!--header-->
    
    <div class="clearfix nav">
        <ul>
            <li class="z_index"><a href="index.html" class="nav-one nav-one11">&nbsp;</a></li>
            <li class="tt">&nbsp;</li>
            <li class="z_index"><a href="about.html" class="nav-one nav-one2">&nbsp;</a>
                <div class="nav-two" style="display: none;">
                    <dl>
                        <dd><a href="#" title="关于卫康">关于卫康</a></dd>
                        <dd><a href="#" title="卫康新闻">卫康新闻</a></dd>
                    </dl>
                </div>
            </li>
            <li class="tt">&nbsp;</li>
            <li class="z_index"><a href="anli.html" class="nav-one nav-one3">&nbsp;</a>
                <div class="nav-two" style="display: none;">
                    <dl>
                        <dd><a href="#" title="害虫解决方案">害虫解决方案</a></dd>
                        <dd><a href="#" title="行业解决方案">行业解决方案</a></dd>
                        <dd><a href="#" title="我们的承诺">我们的承诺</a></dd>
                    </dl>
                </div>
            </li>
            <li class="tt">&nbsp;</li>
            <li class="z_index"><a href="connect.html" class="nav-one nav-one4">&nbsp;</a>
                <div class="nav-two" style="display: none;">
                    <dl>
                        <dd><a href="#" title="联系方式">联系方式</a></dd>
                        <dd><a href="#" title="在线预约">在线预约</a></dd>
                    </dl>
                </div>
            </li>
        </ul>
        
        <div class="clearfix search">
                    <form action="http://www.ansunpco.com/news.php" method="post" onsubmit="return checkform(this);">
           <input type="submit" value="" class="submit-button">
           <input name="keywords" type="text" class="search-box" value="Search..." onfocus="if (this.value ==&#39;Search...&#39;){this.value =&#39;&#39;}" onblur="if (this.value ==&#39;&#39;){this.value=&#39;Search...&#39;}">
           </form>
        </div><!--search-->
    </div><!--nav-->
</div><!--container-->
<script type="text/javascript">
  $(document).ready(function(){
	  $(".nav li").hover(
		  function(){
			  $(this).find(".nav-two").show();
			  $(this).addClass("z_index");	
			  },
		  function(){
			  $(this).find(".nav-two").hide();
			  })
			  $(this).removeClass("z_index");				   								  
  });	

  function checkform(form){
     if(form.keywords.value==" " || form.keywords.value=="Search..."){
       alert("请输入关键字!");
       return false;
         }
	  }			
</script>

     <div class="container">
    	<div class="margin-top10 inside-banner"><img src="images/banner.jpg"></div><!--inside-banner-->
        
        <div class="clearfix main">
        	<div class="left-box">
    <div class="left-nav">
        <ul>
            <li>
                <a href="connect.htm" class="left-one" id="left-change">联系方式</a></li>
            <li><a href="#" class="left-one">在线预约</a></li>
        </ul>
    </div><!--left-nav-->
    
    <div class="free-box">
         <h1 class="free-th"><a href="#"><img src="images/free-th.jpg"></a></h1>
        
              <div class="clearfix free-content">
            <dl>
                <dd><strong>您所遇到的虫害问题</strong></dd>
                <dd>
                <form action="http://www.ansunpco.com/program-class.php" method="get">
                <select name="pid" class="select-box">
                                  <option value="33">鼠类控制</option>
                                  <option value="34">爬虫控制</option>
                                  <option value="54">飞虫控制</option>
                                  <option value="47">白蚁控制</option>
                                 </select><input type="submit" class="search-button" value="">
                </form>
                </dd>
                
              
                <dd><strong>根据您的行业选择合适的解决方案</strong></dd>
                <dd>
                <form action="http://www.ansunpco.com/industry.php" method="get">
                <select name="cid" class="select-box">
                                    <option value="38">食品饮料业</option>
                                    <option value="39">制药业</option>
                                    <option value="41">楼宇物业</option>
                                    <option value="42">物流仓储</option>
                                    <option value="43">酒店宾馆</option>
                                    <option value="44">连锁商超</option>
                                    <option value="45">公寓住宅</option>
                                </select>
                <input type="submit" class="search-button" value="">
                </form>
                </dd>
              
            </dl>
        </div><!--free-content-->
    </div><!--free-box-->
</div><!--left-box-->
<script type="text/javascript">
  $(document).ready(function(){
	  $(".left-nav li").hover(
		  function(){
			  $(this).find(".left-two").show();
			  $(this).addClass("z_index");	
			  },
		  function(){
			  $(this).find(".left-two").hide();
			  })
			  $(this).removeClass("z_index");				   								  
  });				
</script>            
            <div class="right-box">
            	<div class="current"><span>您现在的位置：</span><a href="index.htm">首页</a><tt>&gt;</tt><a href="connect.htm">联系我们</a><tt>&gt;</tt><a href="#" class="current-v">联系方式</a></div><!--current-->
				
                <div class="clearfix right-content">
                	<div class="right-th"><h1>联系方式</h1><em>&nbsp;|&nbsp;Way of contact</em></div><!--right-th-->
                    
                    <div class="margin-top25 contact">
                    	

                    	
                    	</div><!--contact-map-->
                         <dl class="margin-top10 contact-list">
                        
                        
                        
                        	<dd>名称：卫康环境防治中心隶属于田林县新颖图文设计室</dd>
                        	<dd>地址：田林县乐里镇新昌花园唐子纯出租房</dd>
                            <dd>电话：0776-7216806</dd>
                        </dl>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        
                        
                        <dl class="margin-top10 contact-list">
                        
                        
                        
                        	<dd>卫康环境防治中心</dd>
                        	<dd>王先生：  18914990900&nbsp;&nbsp;&nbsp;高先生：  18914967698&nbsp;&nbsp;&nbsp;袁先生：  15262635626&nbsp;&nbsp;&nbsp;</dd>
                            <dd>邮箱： weikangvip900@163.com</dd>
                        </dl>
                    </div><!--contact-->
                </div><!--right-content-->    
            </div><!--right-box-->
        </div><!--main-->
    </div><!--container-->   
    
    <div class="clearfix margin-top50">
    	<style type="text/css">
<!--
.STYLE1 {color: #000000}
-->
</style>

<div class="clearfix footer">
  <div class="margin-top15 clearfix link-box">
  <div class="container">
      <div class="link">
          <div class="program-th">
              <h1 class="program-h1">合作伙伴</h1>
              <em class="eind">cooperatlon Partners</em>
          </div><!--program-th-->
          <div id="featurecontainer">
              <div id="feature">
                  <div id="block">
	                                        <div id="botton-scroll" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 987px;">
                          <ul class="featureul" style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 3807px; left: -987px;"><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-194897.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-191242.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195606.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195972.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195526.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-192733.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-193031.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2014-02-198838.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-196557.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-194885.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-199201.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195897.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-197982.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-194897.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-191242.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195606.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195972.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195526.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-192733.jpg" width="131" height="57"> </a></div>
                              </li>
                                                            <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-193031.jpg" width="131" height="57"> </a></div>
                              </li>
                                                        <li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2014-02-198838.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-196557.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-194885.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-199201.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-195897.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-197982.jpg" width="131" height="57"> </a></div>
                              </li><li class="featurebox" style="overflow: hidden; float: left; width: 141px; height: 70px;">
                                  <div class="box"><a href="#"><img alt="paracletos" src="images/2013-04-194897.jpg" width="131" height="57"> </a></div>
                              </li></ul>
                      </div><!--botton-scroll-->
                  </div><!--block -->
                  <a class="prev png_bg" href="javascript:void();">previous</a><a class="next png_bg" href="javascript:void();">next</a>
              </div><!--feature-->
          </div><!--featurecontainer-->
      </div><!--link-->
  </div><!--container-->	
  </div><!--link-box-->
  
  <div class="bottom1">
  <div class="clearfix container">
           <p style="text-align:center; color:#FFF; font-size:14px; padding-top:20px; line-height:25px;">王先生：  18914990900&nbsp;&nbsp;&nbsp;袁先生：  15262635626&nbsp;&nbsp;&nbsp;高先生：  18914967698&nbsp;&nbsp;&nbsp;邮箱： weikangvip900@163.com<br />卫康环境防治中心隶属于田林县新颖图文设计室<br />网站备案号：浙ICP备13020057号-1
</p>
  </div><!--container-->	
  </div><!--bottom-->
</div><!--footer-->

    </div><!--margin-top50-->                  


</body></html>